.min-small-modal .ant-modal-body .ant-form .ant-select {
    width: 400px;
    height: 40px;
    margin-left: 0;
    font-size: 16px;
}
.ant-select-selection--multiple {
    max-height: 80px;
    overflow-y: auto;
}
.ant-select-selection {
    height: 40px;
    line-height: 40px;
    background-color: #000E26;
    border: none;
    color: #FFFFFF;
}
.ant-select-selection__rendered {
    line-height: 40px;
    height: 40px;
    margin-bottom: -3px;
    margin-left: 5px;
}


